* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body {
    font-family: "Open Sans", sans-serif;
}
ul {
    list-style: none;
}
.container {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}
@media (min-width:768px) {
    .container {
        max-width: 750px;
    }
}
@media (min-width:992px) {
    .container {
        max-width: 970px;
    }
}
@media (min-width:1200px) {
    .container {
        max-width: 1170px;
    }
}