* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #19c8fa;
    --transparent-color: rgb(15 116 143 / 70%);
    --section-padding: 100px;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
}

ul {
    list-style: none;
}

.container {
    width: 100%;
    height: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

@media (min-width:768px) {
    .container {
        max-width: 750px;
    }
}

@media (min-width:992px) {
    .container {
        max-width: 970px;
    }
}

@media (min-width:1200px) {
    .container {
        max-width: 1170px;
    }
}

.main-heading {
    text-align: center;
}

.main-heading h2 {
    font-weight: normal;
    font-size: 40px;
    position: relative;
    margin-bottom: 70px;
    text-transform: uppercase;
}

.main-heading h2::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    background-color: #333;
    bottom: -30px;
    width: 120px;
}

.main-heading h2::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 2px solid #333;
    bottom: -38px;
    background-color: white;
}

.main-heading p {
    width: 550px;
    margin: 0 auto 100px;
    max-width: 100%;
    line-height: 2;
    color: #777;
}

header {
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 2;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 90px;
}

header .container ::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 15px;
    width: calc(100% - 30px);
    height: 1px;
    background-color: #2a2a2a;
    opacity: 0.2;
}

header .container .logo img {
    height: 40px;
}

header .container nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
}

header .container nav ul {
    display: flex;
}

header .container nav ul li a {
    text-decoration: none;
    display: block;
    color: white;
    font-size: 16px;
    font-weight: 300;
    transition: color 0.3s ease;
    padding: 40px 10px;
    position: relative;
    z-index: 2;
}

header .container nav ul li.active a,
header .container nav ul li:hover a {
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
}

header .container .form {
    width: 40px;
    height: 30px;
    position: relative;
    margin-left: 30px;
    border-left: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .container .form i {
    color: white;
    font-size: 20px;
}

@media (min-width:768px) {
    header nav .toggle-menu {
        display: none;
    }
}

@media (max-width:767px) {
    header .container nav ul {
        display: none;
    }

    header nav .toggle-menu {
        display: block;
        color: white;
        font-size: 22px;
    }

    header .container .toggle-menu:hover+ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: rgb(0 0 0 / 50%);
    }

    header .container .toggle-menu:hover+ul li a {
        padding: 15px !important;
    }

    header .container .toggle-menu:hover+ul li a:hover {
        background-color: var(--transparent-color);
    }

    header .container .toggle-menu:hover+ul li a.active {
        color: var(--main-color);
        border-bottom: 1px solid var(--main-color);
    }
}











/* .landing section */
.landing {
    height: 100dvh;
    background-image: url("/images/landing.jpg");
    background-size: cover;
    position: relative;
}

.landing .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 40%);
    z-index: 1;
}

.landing .text {
    width: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--transparent-color);
    padding: 30px;
    display: flex;
    justify-content: flex-end;
}

.landing .text .content {
    width: 70%;
    color: white;
}

.landing .text .content h2 {
    font-size: 36px;
    margin-bottom: 20px;
    line-height: 1.5;
}

.landing .text .content p {
    font-size: 16px;
    line-height: 1.8;
}

.landing .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    color: white;
    padding: 10px;
    cursor: pointer;
    z-index: 2;
}

.landing .arrow-right {
    right: 0;
}

.landing ul {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}

.landing ul li {
    width: 25px;
    height: 25px;
    border: 2px solid white;
    border-radius: 50%;
    cursor: pointer;
}

.landing ul li.active {
    background-color: var(--main-color);
    border: none;
}

@media (max-width:767px) {
    .landing .text {
        width: 100%;
        padding: 20px;
        justify-content: center;
        position: relative;
        z-index: 1;
    }

    .landing .text .content h2 {
        font-size: 28px;
    }

    .landing .text .content p {
        font-size: 14px;
    }

    .landing .arrow {
        display: none;
    }
}

/* End of .landing section */

/* .services section */

.services {
    padding: var(--section-padding) 0;
    overflow-x: hidden;
}

.services .services-container {
    width: 100%;
    box-sizing: border-box;
}

.services .services-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    grid-column-gap: 40px;
    grid-row-gap: 60px;
}


.services .services-container .srv-box {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
}

@media (max-width: 767px) {

    .services .services-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 40px;
    }

    .services .services-container .srv-box {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .services .services-container .srv-box .text {
        text-align: center;
    }
}

.services .services-container .srv-box .text h3 {
    margin-bottom: 25px;
    color: var(--main-color);
}

.services .services-container .srv-box .text p {
    color: #777;
    line-height: 2;
}

/* End of .services section */

/* design section */
.design {
    padding: var(--section-padding) 0;
    background-image: url("/images/design-features.jpg");
    background-size: cover;
    position: relative;
    overflow: hidden;
    height: 600px;
}

.design::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 40%);
    z-index: 1;
}

.design .image {
    position: absolute;
    z-index: 2;
    left: 6%;
    bottom: -100px;
}

@media (max-width:767px) {
    .design .image {
        display: none;
    }
}

.design .text {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 50%;
    padding: 50px;
    box-sizing: border-box;
    z-index: 2;
    background-color: var(--transparent-color);
    color: white;
}

@media (max-width:767px) {
    .design .text {
        width: 100%;
        padding: 40px;
        position: relative;
        top: auto;
        transform: none;
    }

    .design {
        height: auto;
    }
}

.design .text h2 {
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 300;
}

.design .text ul li {
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 1.8;
    position: relative;
}

.design .text ul li::before {
    content: "\f108";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: relative;
    margin-right: 20px;
    left: 0;
}

/* End of design section */

/* start portfolio section */
.portfolio {
    padding: var(--section-padding) 0;
    background-color: #f9f9f9;
}

.portfolio .container .shuffle {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-bottom: 60px;
}

.portfolio .container .shuffle li.active {
    background-color: var(--main-color);
    color: white;
}

.portfolio .container .shuffle li {
    padding: 10px;
}

.portfolio .imgs-container {
    display: grid;
}

@media (max-width:767px) {
    .portfolio .imgs-container {
        grid-template-columns: 1fr;
    }
}

@media (min-width:768px) {
    .portfolio .imgs-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width:1200px) {
    .portfolio .imgs-container {
        grid-template-columns: repeat(4, 1fr);
    }
}

.portfolio .imgs-container .box {
    position: relative;
    overflow: hidden;
}

.portfolio .imgs-container img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.portfolio .imgs-container .caption {
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    background-color: white;
    color: black;
    padding: 20px;
    text-align: left;
    transition: bottom 0.3s ease;
}

.portfolio .imgs-container .caption h4 {
    margin-bottom: 10px;
    font-weight: 400;
}

.portfolio .imgs-container .caption p {
    color: var(--main-color);
}

.portfolio .imgs-container .box:hover .caption {
    bottom: 0;
}

.portfolio .imgs-container .box:hover img {
    transform: rotate(3deg) scale(1.1);
}

.portfolio .more {
    text-decoration: none;
    display: block;
    background-color: var(--main-color);
    margin: 30px auto;
    width: fit-content;
    padding: 15px 20px;
    color: white;
    text-transform: uppercase;
}

/* end portfolio section */

/* video section */
.video {
    position: relative;
    height: 500px;
    overflow: hidden;
}

.video::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 40%);
    z-index: 1;
}

.video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width:767px) {
    .video {
        height: 300px;
    }
}

.video .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    width: 100%;
    background-color: var(--transparent-color);
    padding: 40px 0;
    text-align: center;
    z-index: 2;

}

.video .text h2 {
    font-size: 25px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.video .text p {
    font-size: 16px;
    margin-bottom: 30px;
    line-height: 1.8;
}

.video .text button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
}

/* end video section */

/* start about section */
.about {
    padding-top: var(--section-padding);
    overflow: hidden;
    height: 620px;
    position: relative;
}

.about .image {
    text-align: center;
}

@media (max-width:767px) {
    .about {
        height: 500px;
    }

    .about .image img {
        width: 80%;
        position: absolute;
        bottom: -60px;
        left: 50%;
        transform: translateX(-50%);
    }
}

/* end about section */


/* start stats section */
.stats {
    background-image: url("/images/stats.png");
    background-size: cover;
    position: relative;
    text-align: center;
    padding: var(--section-padding) 0;
}

.stats::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 60%);
    z-index: 1;
}

.stats .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    position: relative;
    z-index: 2;
    background-color: var(--transparent-color);
    width: 100%;
    padding: 40px 0;
}

@media (max-width:767px) {
    .stats {
        height: 1200px;
        padding: var(--section-padding) 20px;
    }

    .stats .container {
        grid-template-columns: repeat(1,1fr);
        gap: 30px;
        padding: 40px 0;
    }

    .stats .container .box .number {
        margin-bottom: 15px;
    }
}
@media (min-width:768px) and (max-width:980px) {
    .stats .container {
        grid-template-columns: repeat(2, 1fr);
    }
}




.stats .container .box {
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

.stats .container .box i {
    color: white;
    font-size: 20px;
    position: relative;
    margin-bottom: 10px;
}

.stats .container .box i::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    background-color: black;
    border-radius: 50%;
    z-index: -1;
}

.stats .container .box .number {
    color: white;
    font-size: 35px;
    font-weight: 700;
    padding: 20px;
}

.stats .container .box p {
    color: white;
    font-weight: 300;
}

/* end stats section */